# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [435]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [436]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [437]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [438]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=(['EIN','NAME']))

# Review the DataFrame
applicant_data_df.tail()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [439]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.select_dtypes(include=['category','object']).columns.tolist()

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [440]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [441]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [442]:
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=enc.get_feature_names_out())

# Review the DataFrame
display(encoded_df.head()) 
print(encoded_df.info())  # Get summary information about data types and non-null values

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Columns: 114 entries, APPLICATION_TYPE_T10 to SPECIAL_CONSIDERATIONS_Y
dtypes: float64(114)
memory usage: 29.8 MB
None

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [443]:
# Selecting the numerical columns to add with our encoded df
numerical_cols_df = applicant_data_df[["STATUS",'ASK_AMT', 'IS_SUCCESSFUL']]
numerical_cols_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [444]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([numerical_cols_df, encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [445]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL'].values.reshape(-1,1)

# Display a sample of y
y

array([[1],
       [1],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int64)

In [446]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.loc[1:3]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [447]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=11)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [448]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [449]:
# Define the the number of inputs (features) to the model
#number_input_features = len(X_train.iloc[0])
# or you can use 
number_input_features = X_train.shape[1]
# Review the number of features
print(f'The number of input features: {number_input_features}')

The number of input features: 116

In [450]:
# Define the number of neurons in the output layer
number_output_neurons = 1
print(f'This model has only, {number_output_neurons}, output')

This model has only, 1, output

In [451]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
print(f'The number of nodes in the first hidden layer: {hidden_nodes_layer1}')

The number of nodes in the first hidden layer: 58

In [452]:
# Define the number of hidden nodes for the second hidden layer. We apply again the geometric mean betweemn the hidden layer 1 and the output
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
print(f'The number of nodes in the second hidden layer: {hidden_nodes_layer2}')

The number of nodes in the second hidden layer: 29

In [453]:
# Create the Sequential model instance
nn = Sequential()

In [454]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [455]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [456]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [457]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_74 (Dense)            (None, 58)                6786

 dense_75 (Dense)            (None, 29)                1711

 dense_76 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [458]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [459]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=10)

Epoch 1/50

2573/2573 [==============================] - 16s 5ms/step - loss: 0.5697 - accuracy: 0.7253
Epoch 2/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5524 - accuracy: 0.7315
Epoch 3/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5493 - accuracy: 0.7331
Epoch 4/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5473 - accuracy: 0.7338
Epoch 5/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 6/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 7/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 8/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5421 - accuracy: 0.7356
Epoch 9/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 10/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5408 - accuracy: 0.7376
Epoch 11/50
2573/2573 [==============================] - 15s 6ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 12/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 13/50
2573/2573 [==============================] - 8s 3ms/step - loss: 0.5396 - accuracy: 0.7385
Epoch 14/50
2573/2573 [==============================] - 9s 3ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 15/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 16/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 17/50
2573/2573 [==============================] - 12s 4ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 18/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 19/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 20/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 21/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5367 - accuracy: 0.7397
Epoch 22/50
2573/2573 [==============================] - 13s 5ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 23/50
2573/2573 [==============================] - 13s 5ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 24/50
2573/2573 [==============================] - 13s 5ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 25/50
2573/2573 [==============================] - 15s 6ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 26/50
2573/2573 [==============================] - 15s 6ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 27/50
2573/2573 [==============================] - 18s 7ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 28/50
2573/2573 [==============================] - 20s 8ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 29/50
2573/2573 [==============================] - 34s 13ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 30/50
2573/2573 [==============================] - 23s 9ms/step - loss: 0.5343 - accuracy: 0.7407
Epoch 31/50
2573/2573 [==============================] - 19s 7ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 32/50
2573/2573 [==============================] - 17s 6ms/step - loss: 0.5335 - accuracy: 0.7410
Epoch 33/50
2573/2573 [==============================] - 19s 7ms/step - loss: 0.5339 - accuracy: 0.7407
Epoch 34/50
2573/2573 [==============================] - 19s 7ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 35/50
2573/2573 [==============================] - 19s 7ms/step - loss: 0.5336 - accuracy: 0.7409
Epoch 36/50
2573/2573 [==============================] - 22s 9ms/step - loss: 0.5331 - accuracy: 0.7416
Epoch 37/50
2573/2573 [==============================] - 21s 8ms/step - loss: 0.5334 - accuracy: 0.7419
Epoch 38/50
2573/2573 [==============================] - 16s 6ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 39/50
2573/2573 [==============================] - 16s 6ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 40/50
2573/2573 [==============================] - 16s 6ms/step - loss: 0.5327 - accuracy: 0.7415
Epoch 41/50
2573/2573 [==============================] - 12s 5ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 42/50
2573/2573 [==============================] - 10s 4ms/step - loss: 0.5330 - accuracy: 0.7420
Epoch 43/50
2573/2573 [==============================] - 11s 4ms/step - loss: 0.5325 - accuracy: 0.7417
Epoch 44/50
2573/2573 [==============================] - 10s 4ms/step - loss: 0.5326 - accuracy: 0.7420
Epoch 45/50
2573/2573 [==============================] - 10s 4ms/step - loss: 0.5320 - accuracy: 0.7417
Epoch 46/50
2573/2573 [==============================] - 10s 4ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 47/50
2573/2573 [==============================] - 12s 4ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 48/50
2573/2573 [==============================] - 16s 6ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 49/50
2573/2573 [==============================] - 20s 8ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 50/50
2573/2573 [==============================] - 19s 8ms/step - loss: 0.5318 - accuracy: 0.7407

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [488]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss*100:.2f}%")
print(f'Accuracy: {model_accuracy*100:.2f}%')

268/268 - 1s - loss: 0.5629 - accuracy: 0.7255 - 781ms/epoch - 3ms/step
Loss: 56.29%
Accuracy: 72.55%

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [461]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export our model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [462]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
print(f'The number of input features for A1 model is {number_input_features}.')

The number of input features for A1 model is 116.

In [463]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1
print(f'The number of output neurons for A1: {number_output_neurons_A1}')

The number of output neurons for A1: 1

In [464]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 3

# Review the number of hidden nodes in the first layer
print(f'The hidden nodes for the first layer for A1 is {hidden_nodes_layer1_A1}.')

The hidden nodes for the first layer for A1 is 39.

In [465]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [466]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_77 (Dense)            (None, 39)                4563

 dense_78 (Dense)            (None, 1)                 40

=================================================================
Total params: 4,603
Trainable params: 4,603
Non-trainable params: 0
_________________________________________________________________

In [467]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", 
              optimizer='adam', 
              metrics=['accuracy']
              )

In [468]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, 
                         y_train, 
                         epochs=50, 
                         verbose=2,
                         batch_size=100)

Epoch 1/50
258/258 - 3s - loss: 0.6245 - accuracy: 0.6946 - 3s/epoch - 14ms/step
Epoch 2/50
258/258 - 1s - loss: 0.5619 - accuracy: 0.7276 - 767ms/epoch - 3ms/step
Epoch 3/50
258/258 - 1s - loss: 0.5544 - accuracy: 0.7309 - 767ms/epoch - 3ms/step
Epoch 4/50
258/258 - 1s - loss: 0.5516 - accuracy: 0.7313 - 881ms/epoch - 3ms/step
Epoch 5/50
258/258 - 1s - loss: 0.5494 - accuracy: 0.7320 - 804ms/epoch - 3ms/step
Epoch 6/50
258/258 - 1s - loss: 0.5481 - accuracy: 0.7328 - 1s/epoch - 4ms/step
Epoch 7/50
258/258 - 1s - loss: 0.5476 - accuracy: 0.7319 - 804ms/epoch - 3ms/step
Epoch 8/50
258/258 - 1s - loss: 0.5463 - accuracy: 0.7328 - 796ms/epoch - 3ms/step
Epoch 9/50
258/258 - 1s - loss: 0.5461 - accuracy: 0.7328 - 784ms/epoch - 3ms/step
Epoch 10/50
258/258 - 1s - loss: 0.5451 - accuracy: 0.7343 - 784ms/epoch - 3ms/step
Epoch 11/50
258/258 - 1s - loss: 0.5444 - accuracy: 0.7352 - 786ms/epoch - 3ms/step
Epoch 12/50
258/258 - 1s - loss: 0.5438 - accuracy: 0.7334 - 784ms/epoch - 3ms/step
Epoch 13/50
258/258 - 1s - loss: 0.5441 - accuracy: 0.7329 - 767ms/epoch - 3ms/step
Epoch 14/50
258/258 - 1s - loss: 0.5430 - accuracy: 0.7338 - 767ms/epoch - 3ms/step
Epoch 15/50
258/258 - 1s - loss: 0.5431 - accuracy: 0.7344 - 792ms/epoch - 3ms/step
Epoch 16/50
258/258 - 1s - loss: 0.5431 - accuracy: 0.7338 - 824ms/epoch - 3ms/step
Epoch 17/50
258/258 - 1s - loss: 0.5425 - accuracy: 0.7352 - 832ms/epoch - 3ms/step
Epoch 18/50
258/258 - 1s - loss: 0.5416 - accuracy: 0.7354 - 934ms/epoch - 4ms/step
Epoch 19/50
258/258 - 1s - loss: 0.5420 - accuracy: 0.7362 - 853ms/epoch - 3ms/step
Epoch 20/50
258/258 - 1s - loss: 0.5414 - accuracy: 0.7361 - 762ms/epoch - 3ms/step
Epoch 21/50
258/258 - 1s - loss: 0.5408 - accuracy: 0.7362 - 801ms/epoch - 3ms/step
Epoch 22/50
258/258 - 1s - loss: 0.5414 - accuracy: 0.7356 - 849ms/epoch - 3ms/step
Epoch 23/50
258/258 - 1s - loss: 0.5410 - accuracy: 0.7365 - 784ms/epoch - 3ms/step
Epoch 24/50
258/258 - 1s - loss: 0.5406 - accuracy: 0.7359 - 913ms/epoch - 4ms/step
Epoch 25/50
258/258 - 1s - loss: 0.5404 - accuracy: 0.7367 - 864ms/epoch - 3ms/step
Epoch 26/50
258/258 - 1s - loss: 0.5401 - accuracy: 0.7366 - 925ms/epoch - 4ms/step
Epoch 27/50
258/258 - 1s - loss: 0.5404 - accuracy: 0.7365 - 831ms/epoch - 3ms/step
Epoch 28/50
258/258 - 1s - loss: 0.5402 - accuracy: 0.7364 - 819ms/epoch - 3ms/step
Epoch 29/50
258/258 - 1s - loss: 0.5404 - accuracy: 0.7371 - 845ms/epoch - 3ms/step
Epoch 30/50
258/258 - 1s - loss: 0.5400 - accuracy: 0.7367 - 884ms/epoch - 3ms/step
Epoch 31/50
258/258 - 1s - loss: 0.5395 - accuracy: 0.7365 - 905ms/epoch - 4ms/step
Epoch 32/50
258/258 - 1s - loss: 0.5399 - accuracy: 0.7377 - 897ms/epoch - 3ms/step
Epoch 33/50
258/258 - 1s - loss: 0.5390 - accuracy: 0.7358 - 863ms/epoch - 3ms/step
Epoch 34/50
258/258 - 1s - loss: 0.5395 - accuracy: 0.7366 - 851ms/epoch - 3ms/step
Epoch 35/50
258/258 - 1s - loss: 0.5394 - accuracy: 0.7367 - 905ms/epoch - 4ms/step
Epoch 36/50
258/258 - 1s - loss: 0.5389 - accuracy: 0.7375 - 872ms/epoch - 3ms/step
Epoch 37/50
258/258 - 1s - loss: 0.5385 - accuracy: 0.7380 - 873ms/epoch - 3ms/step
Epoch 38/50
258/258 - 1s - loss: 0.5392 - accuracy: 0.7372 - 848ms/epoch - 3ms/step
Epoch 39/50
258/258 - 1s - loss: 0.5388 - accuracy: 0.7376 - 844ms/epoch - 3ms/step
Epoch 40/50
258/258 - 1s - loss: 0.5387 - accuracy: 0.7374 - 836ms/epoch - 3ms/step
Epoch 41/50
258/258 - 1s - loss: 0.5385 - accuracy: 0.7379 - 834ms/epoch - 3ms/step
Epoch 42/50
258/258 - 1s - loss: 0.5385 - accuracy: 0.7371 - 851ms/epoch - 3ms/step
Epoch 43/50
258/258 - 1s - loss: 0.5383 - accuracy: 0.7373 - 895ms/epoch - 3ms/step
Epoch 44/50
258/258 - 1s - loss: 0.5384 - accuracy: 0.7376 - 871ms/epoch - 3ms/step
Epoch 45/50
258/258 - 1s - loss: 0.5380 - accuracy: 0.7383 - 863ms/epoch - 3ms/step
Epoch 46/50
258/258 - 1s - loss: 0.5381 - accuracy: 0.7371 - 860ms/epoch - 3ms/step
Epoch 47/50
258/258 - 1s - loss: 0.5385 - accuracy: 0.7370 - 853ms/epoch - 3ms/step
Epoch 48/50
258/258 - 1s - loss: 0.5381 - accuracy: 0.7364 - 868ms/epoch - 3ms/step
Epoch 49/50
258/258 - 1s - loss: 0.5378 - accuracy: 0.7370 - 834ms/epoch - 3ms/step
Epoch 50/50
258/258 - 1s - loss: 0.5375 - accuracy: 0.7377 - 1s/epoch - 4ms/step

#### Alternative Model 2

In [469]:
# Define the the number of inputs (features) to the model

number_input_features = len(X_train.iloc[0])

# Review the number of features
print(f'The number of input features for A2 model: {number_input_features}')

The number of input features for A2 model: 116

In [6]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

# Review the number of output nodes
print(f'The number of ouput nodes: {number_output_neurons_A2}')

The number of ouput nodes: 1

In [2]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 33

# Review the number of hidden nodes in the first layer
print(f'Nodes in first hidden layer of A2 model: {hidden_nodes_layer1_A2}')

Nodes in first hidden layer of A2 model: 33

In [3]:
# Adding a second hidden layer to A2 model.
hidden_nodes_layer2_A2 = 111

print(f'The hidden nodes for the second layer for A2: {hidden_nodes_layer2_A2}.')

The hidden nodes for the second layer for A2: 111.

In [4]:
# Adding a third hidden layer node for A2 model.
hidden_nodes_layer3_A2 = 11

print(f'The hidden nodes for the third layer for A2 is {hidden_nodes_layer3_A2}.')

The hidden nodes for the third layer for A2 is 11.

In [5]:
# Create the Sequential model instance
nn_A2 = Sequential()

NameError: name 'Sequential' is not defined

In [ ]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="swish"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="swish"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_79 (Dense)            (None, 33)                3861

 dense_80 (Dense)            (None, 111)               3774

 dense_81 (Dense)            (None, 11)                1232

 dense_82 (Dense)            (None, 1)                 12

=================================================================
Total params: 8,879
Trainable params: 8,879
Non-trainable params: 0
_________________________________________________________________

In [476]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [477]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=111, verbose = 1, batch_size=1000)

Epoch 1/111

26/26 [==============================] - 3s 11ms/step - loss: 0.6394 - accuracy: 0.6752
Epoch 2/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5803 - accuracy: 0.7277
Epoch 3/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5616 - accuracy: 0.7301
Epoch 4/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5554 - accuracy: 0.7304
Epoch 5/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5521 - accuracy: 0.7318
Epoch 6/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5500 - accuracy: 0.7320
Epoch 7/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5486 - accuracy: 0.7317
Epoch 8/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5471 - accuracy: 0.7327
Epoch 9/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5464 - accuracy: 0.7325
Epoch 10/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 11/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5448 - accuracy: 0.7337
Epoch 12/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5439 - accuracy: 0.7345
Epoch 13/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 14/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 15/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5425 - accuracy: 0.7344
Epoch 16/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5428 - accuracy: 0.7347
Epoch 17/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5422 - accuracy: 0.7348
Epoch 18/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5418 - accuracy: 0.7346
Epoch 19/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5410 - accuracy: 0.7348
Epoch 20/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 21/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 22/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5395 - accuracy: 0.7355
Epoch 23/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5400 - accuracy: 0.7357
Epoch 24/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 25/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5384 - accuracy: 0.7369
Epoch 26/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5385 - accuracy: 0.7368
Epoch 27/111
26/26 [==============================] - 0s 14ms/step - loss: 0.5387 - accuracy: 0.7362
Epoch 28/111
26/26 [==============================] - 1s 21ms/step - loss: 0.5378 - accuracy: 0.7369
Epoch 29/111
26/26 [==============================] - 0s 19ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 30/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 31/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 32/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5371 - accuracy: 0.7365
Epoch 33/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 34/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 35/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 36/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5360 - accuracy: 0.7382
Epoch 37/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 38/111
26/26 [==============================] - 0s 17ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 39/111
26/26 [==============================] - 1s 21ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 40/111
26/26 [==============================] - 0s 15ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 41/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 42/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5353 - accuracy: 0.7397
Epoch 43/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 44/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 45/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 46/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5346 - accuracy: 0.7391
Epoch 47/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 48/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5341 - accuracy: 0.7394
Epoch 49/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 50/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 51/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 52/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5334 - accuracy: 0.7397
Epoch 53/111
26/26 [==============================] - 1s 19ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 54/111
26/26 [==============================] - 1s 22ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 55/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5337 - accuracy: 0.7395
Epoch 56/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 57/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5327 - accuracy: 0.7403
Epoch 58/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 59/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 60/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5331 - accuracy: 0.7400
Epoch 61/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 62/111
26/26 [==============================] - 0s 14ms/step - loss: 0.5327 - accuracy: 0.7387
Epoch 63/111
26/26 [==============================] - 0s 14ms/step - loss: 0.5326 - accuracy: 0.7399
Epoch 64/111
26/26 [==============================] - 0s 19ms/step - loss: 0.5326 - accuracy: 0.7400
Epoch 65/111
26/26 [==============================] - 1s 18ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 66/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 67/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 68/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5322 - accuracy: 0.7399
Epoch 69/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5322 - accuracy: 0.7402
Epoch 70/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5316 - accuracy: 0.7402
Epoch 71/111
26/26 [==============================] - 0s 17ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 72/111
26/26 [==============================] - 1s 22ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 73/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5316 - accuracy: 0.7402
Epoch 74/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5314 - accuracy: 0.7407
Epoch 75/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5312 - accuracy: 0.7413
Epoch 76/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 77/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 78/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5310 - accuracy: 0.7418
Epoch 79/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 80/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5306 - accuracy: 0.7414
Epoch 81/111
26/26 [==============================] - 0s 18ms/step - loss: 0.5306 - accuracy: 0.7416
Epoch 82/111
26/26 [==============================] - 1s 20ms/step - loss: 0.5303 - accuracy: 0.7409
Epoch 83/111
26/26 [==============================] - 0s 15ms/step - loss: 0.5310 - accuracy: 0.7406
Epoch 84/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5310 - accuracy: 0.7411
Epoch 85/111
26/26 [==============================] - 0s 15ms/step - loss: 0.5301 - accuracy: 0.7409
Epoch 86/111
26/26 [==============================] - 1s 25ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 87/111
26/26 [==============================] - 0s 15ms/step - loss: 0.5301 - accuracy: 0.7416
Epoch 88/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5300 - accuracy: 0.7416
Epoch 89/111
26/26 [==============================] - 0s 10ms/step - loss: 0.5302 - accuracy: 0.7408
Epoch 90/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5301 - accuracy: 0.7420
Epoch 91/111
26/26 [==============================] - 1s 21ms/step - loss: 0.5303 - accuracy: 0.7417
Epoch 92/111
26/26 [==============================] - 0s 19ms/step - loss: 0.5300 - accuracy: 0.7421
Epoch 93/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5300 - accuracy: 0.7421
Epoch 94/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5302 - accuracy: 0.7417
Epoch 95/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5299 - accuracy: 0.7422
Epoch 96/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5302 - accuracy: 0.7418
Epoch 97/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5293 - accuracy: 0.7423
Epoch 98/111
26/26 [==============================] - 0s 14ms/step - loss: 0.5293 - accuracy: 0.7414
Epoch 99/111
26/26 [==============================] - 0s 16ms/step - loss: 0.5293 - accuracy: 0.7417
Epoch 100/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5293 - accuracy: 0.7415
Epoch 101/111
26/26 [==============================] - 0s 18ms/step - loss: 0.5293 - accuracy: 0.7420
Epoch 102/111
26/26 [==============================] - 0s 14ms/step - loss: 0.5295 - accuracy: 0.7414
Epoch 103/111
26/26 [==============================] - 1s 20ms/step - loss: 0.5298 - accuracy: 0.7418
Epoch 104/111
26/26 [==============================] - 1s 21ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 105/111
26/26 [==============================] - 0s 15ms/step - loss: 0.5289 - accuracy: 0.7424
Epoch 106/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5291 - accuracy: 0.7417
Epoch 107/111
26/26 [==============================] - 0s 12ms/step - loss: 0.5288 - accuracy: 0.7418
Epoch 108/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5291 - accuracy: 0.7419
Epoch 109/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5290 - accuracy: 0.7424
Epoch 110/111
26/26 [==============================] - 0s 13ms/step - loss: 0.5294 - accuracy: 0.7424
Epoch 111/111
26/26 [==============================] - 0s 11ms/step - loss: 0.5290 - accuracy: 0.7427

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [484]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(nn.summary())
print()
print(f"Loss result: {model_loss*100:.2f}%")
print(f'The Accuracy results: {model_accuracy*100:.2f}%')

Original Model Results

268/268 - 1s - loss: 0.5629 - accuracy: 0.7255 - 1s/epoch - 4ms/step
Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_74 (Dense)            (None, 58)                6786

 dense_75 (Dense)            (None, 29)                1711

 dense_76 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________
None

Loss result: 56.29%
The Accuracy results: 72.55%

In [485]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss1, model_accuracy1 = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(nn_A1.summary())
print()
print(f"Loss result: {model_loss1*100:.2f}%")
print(f'The Accuracy results: {model_accuracy1*100:.2f}%')

Alternative Model 1 Results
268/268 - 1s - loss: 0.5608 - accuracy: 0.7265 - 856ms/epoch - 3ms/step
Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_77 (Dense)            (None, 39)                4563

 dense_78 (Dense)            (None, 1)                 40

=================================================================
Total params: 4,603
Trainable params: 4,603
Non-trainable params: 0
_________________________________________________________________
None

Loss result: 56.08%
The Accuracy results: 72.65%

In [486]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss2, model_accuracy2 = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(nn_A2.summary())
print()
print(f"Loss result: {model_loss2*100:.2f}%")
print(f'The Accuracy results: {model_accuracy2*100:.2f}%')

Alternative Model 2 Results

268/268 - 1s - loss: 0.5596 - accuracy: 0.7275 - 1s/epoch - 4ms/step
Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_79 (Dense)            (None, 33)                3861

 dense_80 (Dense)            (None, 111)               3774

 dense_81 (Dense)            (None, 11)                1232

 dense_82 (Dense)            (None, 1)                 12

=================================================================
Total params: 8,879
Trainable params: 8,879
Non-trainable params: 0
_________________________________________________________________
None

Loss result: 55.96%
The Accuracy results: 72.75%

### Step 3: Save each of your alternative models as an HDF5 file.

In [481]:
# Set the file path for the first alternative model
file_path = Path('Resources/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [482]:
# Set the file path for the second alternative model
file_path = Path('Resources/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)